<div class="mt-3 text-center">
    <mat-form-field appearance="fill" [style.width]="'70%'">
        <mat-label>Seach here</mat-label>
        <input matInput [(ngModel)]="search_query" (keyup.enter)="search()" autocomplete="off">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
</div>
<div class="container">

<div>
    Query:  {{ search_query }}
</div>
  <br>

 Result :
  <ng-container *ngIf="this.wordNotFound">
    <span style="color:red">Word not found!</span>
  </ng-container>

  <ng-container *ngIf="this.search_result != [] || this.search_result != null">
    <app-meaning [meaning]="search_result" ></app-meaning>
  </ng-container>

</div>
